<detail-wrapper v-on="$listeners" v-bind="$props">
  <template v-slot:custom>
    <h1>main edit</h1>
  </template>

  <template v-slot:custom2>
    <v-tab href="#script">
      Script
      <v-icon>mdi-pen</v-icon>
    </v-tab>

    <v-tab href="#fieldEdit">
      Field Edit
      <v-icon>mdi-pen</v-icon>
    </v-tab>
  </template>

  <template v-slot:custom3>
    <v-tab-item value="script">
      <v-card flat tile>
        <v-tabs class="elevation-2" dark vertical="vertical">
          <v-tabs-slider></v-tabs-slider>

          <v-tab href="#tab-1">
            PreSave
          </v-tab>

          <v-tab href="#tab-2">
            Delete
          </v-tab>

          <v-tab-item value="tab-1">
            <v-card flat tile>
              <monaco-editor
                ref="monaco"
                class="monaco fill-height"
                language="javascript"
                style="width:900px;height:600px;"
                :amdRequire="amdRequire"
              ></monaco-editor>
            </v-card>
          </v-tab-item>

          <v-tab-item value="tab-2">
            <v-card flat tile>
              <monaco-editor
                ref="monaco"
                class="monaco fill-height"
                language="javascript"
                style="width:900px;height:600px;"
                :amdRequire="amdRequire"
              ></monaco-editor>
            </v-card>
          </v-tab-item>
        </v-tabs>
      </v-card>
    </v-tab-item>

    <v-tab-item value="fieldEdit">
      <v-card flat tile>
        <list-wrapper></list-wrapper>
      </v-card>
    </v-tab-item>
  </template>
</detail-wrapper>
